<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit</title>
  </head>
  <body>
    <h2>Edit your post</h2>
    <p>Post id:@<%= post.id%></p>
    <p>Post username:<%= post.username %></p>
    <form action="/posts/<%=post.id%>?_method=patch" method="post">
      <p>Content:</p>
      <textarea rows="10"
      cols="40" name="content"><%=post.content %> </textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
