<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    
</head>
<body>
    <form action="/posts" method="post">
       <div><label for="username">username</label>
       <input type="text" name="username"></div>
       <br>
       <div>
       <label for="content">content</label>
       <textarea name="content"></textarea>
       <br></div>
       <div>
     <button type="submit">Submit</button>
     <button type="reset">Clear</button></div>
    </form>
</body>
</html>