<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <p>
        <%= 1+2 %>
        <b><%="saurav".toUpperCase() %><br></b>
        <h4><%= ["apple","banana","orange"] [0] %></h4>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius cupiditate velit repellendus a sint, error et itaque ipsa perferendis, expedita perspiciatis rem commodi harum consectetur est tempora veniam consequuntur totam.

    </p>
    <button>sumbit</button>
</body>
</html>