<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dice rolled Value:<%= Math.floor(Math.random()*6)+1 %></h1>

    <h1>Dice rolled Value:<%= dicevalue %></h1>
    <% if(dicevalue==6) { %>
        <h1>congractulation</h1>
        <% } %>
</body>
</html>