<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>create new chat</h2>
    <form action="/chats" method="post">
        <input type="text" placeholder="who is you" name="name" required/><br>
        <textarea name="message" placeholder="type message" required></textarea><br>
                <input placeholder="add reciver" name="to" required/><br>
<button type="submit">create chat</button>
    </form>
</body>
</html>