<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlase</title>
</head>
<body>
    <h2>All records</h2>
    <% for(let listing of alllistings){ %>
          <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
          <% } %>
          <form action="/listings/new" method="get">
            <button type="submit">Create New</button>
          </form>

</body>
</html>'


  
